

.container{
    height: 100%;
    align-content: center;
    }

    .card{
        height: 400px;
        margin-top: auto;
        margin-bottom: auto;
        width: 500px;

        }

    .formInput{
        border-radius: 15px;
        border-color: black;
    }

    .loginButton {
        border-radius: 15px;
        color: white;
        background-color: black;
        width: 160px;
        height: 40px;
    }

    .loginButton:hover{
        color: rgb(2, 141, 2) !important;
    }

    .links{
        color: white;
        }
        
        .links a{
        margin-left: 4px;
        }