.profilePic {
    object-fit: cover;
    width: 60px;
    height: 60px; 
    border-radius: 50%;
    background-color: black;
    border-color: black;
    border-style: solid;
}

.card{
    max-width: 1000px;
}

.button{
    border-radius: 15px;
    color: white;
    background-color: black;
    width: 160px;
    height: 40px;
}

.button:hover{
    color: rgb(2, 141, 2) !important;
}

.postImg{
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    width: 100%;
    height: 400px;
    padding:1px;
    border:1px solid #021a40;
    background-color:black;
    box-shadow: 10px 10px 10px #999;
}

.descriptionBox{
    height: 300px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}